@page "/problem"

<PageTitle>Problem</PageTitle>

<h1>Problem</h1>

<p role="status">@answer</p>

<button class="btn btn-primary" @onclick="Calculate">Calculate</button>

@code {
    private string answer = "";

    private void Calculate()
    {
        answer = "Starting";
        answer = SharedProblem.Prime.run();
    }
}
